<div class="numbers">
    <div class="number">
        <svg xmlns="http://www.w3.org/2000/svg" width="169" height="109" viewBox="0 0 169 109" fill="none">
            <path d="M168 1H3" stroke="#B1D421" stroke-width="2" stroke-linecap="square" stroke-dasharray="3 7"/>
            <path d="M1 3V108" stroke="#B1D421" stroke-width="2" stroke-linecap="square" stroke-dasharray="3 7"/>
        </svg>
        <span>1</span>
    </div>
    <div class="number">
        <svg xmlns="http://www.w3.org/2000/svg" width="167" height="111" viewBox="0 0 167 111" fill="none">
            <path d="M166 3V110" stroke="#B1D421" stroke-width="2" stroke-linecap="square" stroke-dasharray="3 7"/>
            <path d="M164.5 1.5H1" stroke="#B1D421" stroke-width="2" stroke-linecap="square" stroke-dasharray="3 7"/>
        </svg>
        <span>2</span>
    </div>
</div>